.blog-form{
    display: flex;
    flex-direction: column;
    flex: 0 0 80%;
}

.input-div {
    margin: 0 0 15px 10px;
    max-width: 100%;
}

.input-field {
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 20px;
    font-size: 15px;
    padding: 5px;
    max-width:95%;
    width: 100%;
}

.label-text{
    font-size:20px;
    display: block;
}

textarea {
    height: 75px;
    resize: none;
    font-family: "Overpass", sans-serif
}

.submit {
    display:flex;
    margin: 0 0 15px 10px;
    flex: 0 0 100%;
}

.submit button {
    background-color: black;
    color: white;
    height: 40px;
    width: 95%;
    font-family: "Overpass", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.submit button.dark{
    background-color: white;
    color: black;
}
