* {
    box-sizing: border-box;
}


body {
    font-size: 16px;
    font-family: "Overpass", sans-serif;
    background-color: #eff5f8;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 3px solid black;
    height: 70px;
    margin-bottom: 5px;
}

header button.toggle {
    background-color: black;
    color: white;
    font-family: "Overpass", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

main {
    display: flex;
    border-top: 3px solid black;
}

.title {
    font-size: 30px;
    display: flex;
    flex: 0 0 50%;
    border-right: 3px solid black;
    margin-right: 5px;
    justify-content: center;
}

.title h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, #ff8a00, #da1b60);
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.title h2 span {
    color: white;
    text-align: center;
}

.card {
    border-left: 3px solid black;
    flex: 0 0 50%;
    flex-wrap: wrap;
}

.card h2 {
    text-align: center;
    font-size: 30px;
}

body.dark {
    background-color: black;
    color: white;
}

header.dark {
    border-bottom: 3px solid white;
}

header button.toggle.dark {
    background-color: white;
    color: black;
}

main.dark {
    border-top: 3px solid white;
}

.title h2 span.dark {
    color: black;
}

.title.dark {
    border-right: 3px solid white;
}

.card.dark {
    border-left: 3px solid white;
}